html,
body {
  width: 100%;
  height: 100%;
}

main {
  min-height: 100%;
}

.book-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

article {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.social-links {
  margin-top: 6em;
}

article img {
  margin: 1em 0;
  padding: 0.5em;
  background-color: lightgrey;
}
